@model FamilyHub.Web.ViewModels.Lists.ListItemViewModel

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Text"></label>
            <input asp-for="Text" class="form-control" />
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
    </div>
</div>